#poststuff p.sub {
    color:#777;
    font-family:Georgia,"Times New Roman","Bitstream Charter",Times,serif;
    font-size:13px;
    font-style:italic;
    padding:5px 10px 15px;
}
.xtreme-header {
    overflow: hidden;
    padding: 10px 0;
}
.xtreme-header ul {
    float: left;
    margin: 18px 0 0 60px;
    height: 75px;
    list-style-type: none;
}
.xtreme-header ul li {
	width:42px;
	height:43px;
	float:left;
	margin-right: 6px;
}
.xtreme-header ul li a {
	width:42px;
	height:43px;
	display: block;
	text-indent: -9999em;
	background: url(../images/admin-icons.png) no-repeat;
}
.xtreme-header ul li.home a { background-position: 0 0 }
.xtreme-header ul li.home a:hover { background-position: 0 -43px }
.xtreme-header ul li.docu a { background-position: 0 -86px }
.xtreme-header ul li.docu a:hover { background-position: 0 -129px }
.xtreme-header ul li.knbase a { background-position: 0 -172px }
.xtreme-header ul li.knbase a:hover { background-position: 0 -215px }
.xtreme-header ul li.feed a { background-position: 0 -344px }
.xtreme-header ul li.feed a:hover { background-position: 0 -387px }
.xtreme-header ul li.twitter a { background-position: 0 -430px }
.xtreme-header ul li.twitter a:hover { background-position: 0 -473px }
.xtreme-header ul li.facebook a { background-position: 0 -516px }
.xtreme-header ul li.facebook a:hover { background-position: 0 -559px }

h4.version {
	margin: 5px 0 10px 0;
}

.x-label { width:15em}

.x-template td { border-top: dotted 1px #cfcfcf; }
.x-layout-box th {background: #efefef; font-weight: bold}
.x-layout-box td { padding: 5px 7px }
.x_description { width: 25% }
th.x-layout {width: 15%}
th.x-desc {width: 25%}
th.x-applied {width: 50%}
th.x-action {width: 10%}
.x-layout-box td { vertical-align: top; border-bottom:dotted 1px #cfcfcf; }
#wpcontent option { padding-right: 8px}
.x-hidden { display: none; }
.x-hidden-important { display: none !important; }

.x-remark { line-height: 110%; }

/*----- widget media styles --- */
#xtreme-post-social-settings .widget .widget-inside p {  margin: 0 0 1em;  padding: 0; }
#xtreme-post-social-settings .x-portlet-wrapper-label { font-size: 11px; }
#xtreme-post-social-type , #xtreme-post-social-position{  margin: 0 0 1em; width:100%; }
.xtreme-post-social-label { padding: 5px; display: block; }

.x-media-types { padding:3px;margin-bottom: 3px; }
.x-media-type { border: solid 1px #cdcdcd; border-radius: 4px; padding: 3px; background-color: #ddd; color: #21759B; margin-left: 5px;  }
.x-media-type-active { background-color: #fafafa; }

#x-portlet-editing, #x-portlet-expression { padding: 8px; background-color: #fff; border: solid 1px gray; -moz-border-radius: 4px 4px 4px 4px; font-size: 11px; line-height: 16px;  box-shadow: 1px 2px 2px #888888; z-index:9999; }
#x-portlet-editing a, #x-portlet-expression a { text-decoration: none; }
#x-portlet-editing  .x-portlet-wrapper, #x-portlet-expression .x-portlet-wrapper { /*height: 300px;*/ overflow: auto; }
#x-portlet-editing-close, #x-portlet-editing-back, #x-portlet-editing-apply, #x-expression-editor-apply  { float: right; margin-left: 10px; }
#x-portlet-editing-assigned, #x-portlet-editing-standard, #x-expression-editor-reset { float: left; }
#x-portlet-editing-close  span, #x-portlet-editing-back span, #x-expression-editor-apply span, #x-expression-editor-reset span, #x-portlet-editing-apply span, #x-portlet-editing-assigned span, #x-portlet-editing-standard span { float: left; }
.x-portlet-wrapper-label { font-size: 12px; }
.x-portlet-wrapper { border: 1px solid #DDDDDD; margin-bottom: 10px; padding: 5px; padding-top: 10px; -moz-border-radius: 4px 4px 4px 4px; background-color: #F1F1F1;}
.x-portlet-wrapper-empty { margin: 2px 0 7px 0; text-align: center; }
.x-portlet-help-content { display: none; }

.x-portlet-src .x-portlet-item-remove { display: none; }
.x-portlet-src .x-portlet-item-header span.ui-icon { display:none; }
/* .x-portlet-dest { min-height: 20px; } IE and Safari don't support it */
.x-portlet-dest { padding-top: 20px; }

.x-portlet-item { margin-bottom: 1em; -moz-border-radius: 4px 4px 4px 4px; border: 1px solid #DDDDDD; background-color: #FFFFFF;}
.x-portlet-item-header { margin: 0.1em; padding-left: 0.4em; -moz-border-radius: 4px 4px 4px 4px; border: 1px solid #DDDDDD; background-color: #89A3FF; cursor: move; }
.x-portlet-item-header .ui-icon { float: right; cursor: pointer !important; }
.x-portlet-item-content { padding: 0.4em; }
.x-portlet-item-content .attachment-80x60 { float: left; margin-right: 5px; margin-bottom: 5px; border: solid 1px gray; padding: 0px; -moz-border-radius: 4px 4px 4px 4px;}
.x-portlet-item-content label { margin-left: 2px; }
.x-portlet-item-content p { clear:left; }
.x-portlet-item-content select { width: 100%; }
.x-portlet-item-footer { margin-top: 10px; }
.x-portlet-item-trash { position: absolute; }
.x-portlet-item-del { text-decoration: none; padding-left: 18px; }
.x-portlet-item-del:hover { text-decoration: underline; }

.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 26px !important; }
.ui-sortable-placeholder * { visibility: hidden; }

.xtreme-widget-burn-it { border: dotted 1px #F00; padding: 5px; }
.xtreme-admin-burnings { border: solid 1px #DFDFDF; border-radius: 6px; padding: 5px; background-color: #F8F8F8; }
.xtreme-admin-burnings p { margin-top: 0px; border-bottom: dotted 1px #DFDFDF; padding: 0 3px 0 16px; font-style: italic; color: #f00; }
.xtreme-admin-burnings p span { position: absolute; margin-left: -16px; }
.xtreme-admin-burnings ul { padding: 0 3px; }
.xtreme-admin-burnings ul li { border: solid 1px #DFDFDF; border-radius: 6px; background-color: #DFDFDF; padding: 0 3px; font-weight: bold; text-shadow: 0 1px 0 #FFFFFF;}
.x-burned-widget { background: #FFC9C6 !important; }
 
 /* admin widget area */
.x-group-widgets, .x-general-widgets { padding-left: 38px; }
.x-admin-widget {
	height: auto; 
	width: 240px; 
	float:left; 
	background-color: #F0F0F0; 
	border:solid 1px #ddd; 
	margin: 5px; 
	padding: 5px;
	font-weight: bold;
	font-size: 11px;
	-moz-border-radius: 4px 4px 4px 4px;
}
.x-off, .x-on { float: right; height: 17px; width: 38px; }
.x-off { background-image: url(../images/off.png); }
.x-on { background-image: url(../images/on.png); }
.x-admin-widgets, .x-general-widgets a { position: absolute; float: none; margin-left: -38px; }
.x-admin-widget div { padding-top: 5px; font-weight: normal; overflow: hidden; }
.x-admin-widget-desc { min-height: 40px; } 
.x-admin-widget div.x-filter-wrapper { margin-top: 0px; padding-top: 0px; border-top: dotted 1px #ddd; }
.x-active-filter { padding-left: 20px; background-image: url(../images/filter.gif); background-repeat: no-repeat; }
.x-filter-section label { line-height: 140%; }
.x-filter-section div { padding-left: 5px; }
.x-filter-section a { text-decoration: none; }
.x-filter-expander { float:right; text-decoration: none; padding: 2px 6px !important; color: #21759B !important; }
.x-filter-expander span em { float:left; width: 16px; height: 16px; background-repeat: no-repeat;  }
.x-filter-arrow { float:right; position:relative; margin-right: -28px; }
body.iframe .x-filter-arrow { display: none; }
.x-filter { overflow: hidden}
.x-filter label { float: left}
.x-filterbutton { overflow: hidden; }
.x-filterbutton span {float: left }
.x-filterbutton .x-filter-expander {float: right}
.fex-selected { background-color: #FFE760; }
.xtreme-fex { float: right; text-align: right; }
.unicode { font-family: "Arial Unicode MS",Arial,sans-serif; font-size: 14px; }
.warning-is_archive  { display: block; }
.warning-is_singular { display: block; }
.x-warning { display: none; }


/* textarea grids */
.x-textarea-grid-wrapper { text-align: center; border-top: 1px dotted #888; border-bottom: 1px dotted #888; }
.x-textarea-grid-wrapper .columns-2 { width : 142px; }
.x-textarea-grid-wrapper .columns-3 { width : 213px; }
.x-textarea-grid-wrapper .columns-4 { width : 284px; }
.x-textarea-grid-wrapper .columns-5 { width : 355px; }
.x-textarea-grid {  display:inline-block; list-style-type: none; margin: 0; padding: 0; background-color: #f8f8f8; }
.x-textarea-grid li { 
	margin: 3px 3px 3px 0; 
	padding: 1px; float: left; 
	width: 64px; height: 64px; 
	text-align: center; 
	border:solid 1px #cdcdcd; 
	background: #ddd url('../images/mime-types/default.png') 19px center no-repeat;
	cursor: move !important; 
}
.x-textarea-grid li.none-empty { background-image: url('../images/mime-types/document.png');  }

.x-textarea-grid-paceholder { width: 64px; height: 64px; border: dotted 1px #CDCDCD !important; background-color: transparent !important; }
.x-textarea-grid li a.edit {  border: solid 1px transparent; display: block; float:left; width: 16px; height: 16px; }
.x-textarea-grid li a.edit:hover { border: solid 1px gray; background-color: #eee; }
.x-textarea-grid-full { width: 100% !important; height: auto !important;  }
.x-textarea-grid li.x-textarea-grid-full { cursor: pointer !important; text-align: left; }

/* filter expression editor */
.x-meta-filter { border-bottom: solid 1px #CDCDCD; padding: 0 5px 5px 5px; overflow: hidden; }
.x-meta-filter li { border: solid 1px #CDCDCD; background-color: #ddd; float:left; padding: 3px 10px; margin: 5px 10px 0 0; cursor: move !important; }
.x-meta-filter li small, .x-meta-filter li a { display: none; }
.x-meta-placeholder { border: dotted 1px #CDCDCD !important; background-color: transparent !important; height: 36px; }
#x-expression-editor .consumer { background-color: #f8f8f8; }
#x-expression-editor .x-meta-filter { border: 1px dotted gray; min-height: 110px; }
#x-expression-editor .x-meta-filter li { height: 36px; }
#x-expression-editor .x-meta-filter li.error { border: solid 1px #f00 !important; }
#x-expression-editor .x-meta-filter li.error-blue { border: solid 1px #00f !important; }
#x-expression-editor .x-meta-filter li small { display: block; }
#x-expression-editor .x-meta-filter li a.del { float:right; width: 16px; height: 16px; background-color: #fff; border: solid 1px #cdcdcd; border-radius: 8px; margin-right: -20px; margin-top: -9px; }
#x-expression-editor .x-meta-filter li a.edit {  border: solid 1px transparent; display: block; float:left; width: 16px; height: 16px; margin-left: -5px; margin-right: 3px; }
#x-expression-editor .x-meta-filter li a.edit:hover { border: solid 1px gray; background-color: #eee; }
#x-expression-editor .x-meta-filter li:hover a.del { display: block; }
.consumer .condition { color: #21759B; }

.x-yes, .x-no { float: left; height: 16px; width: 27px;  background-image: url(../images/onoff.png); background-repeat: no-repeat; }
.x-yes { background-position: 0 0; }
.x-no {  background-position: 0 -16px; }
.x-yes-locked { background-position: 0 -32px; }
.x-no-locked {  background-position: 0 -48px; }

.x-duplicate { height: 16px; width: 16px; margin-right: 5px; background-image: url(../images/duplicate.png); background-repeat: no-repeat;}
.x-duplicate { display: none; }
#widgets-right .x-duplicate { display: block; padding-left: 20px; white-space:nowrap; }

.sidebar-name h3>.x-erase { float: left; height: 16px; margin-right: 5px; background-image: url(../images/widget-sprite.png); background-repeat: no-repeat; background-position: 0 -20px; }
.sidebar-name h3>.x-erase:hover,.sidebar-name h3>.x-erase:focus.sidebar-name h3>.x-erase:active {background-position: 0 0 }
body.rtl #widgets-right h4>.x-duplicate { float: right; margin-right: 0px;  margin-left: 5px; }
body.rtl .sidebar-name h3>.x-erase {float: right; margin-right: 0px;  margin-left: 5px; }
body.rtl h4.x-active-filter { color: red; padding-right: 20px; background-image: url(../images/filter.gif); background-repeat: no-repeat; background-position: top right; }
body.rtl .x-yes, body.rtl .x-no { float: right; }
body.rtl .x-filter-section div { padding-right: 5px; }
body.rtl .x-filter-expander { float:left; }
body.rtl .x-duplicate { float: right; background-position: top right;}
body.rtl #widgets-right .x-duplicate { padding-right: 20px; }
body.rtl .x-admin-widget { float: right; }
body.rtl .x-filter-arrow { float:left; position:relative; margin-left: -28px; }

.progressbar { margin: 30px 10px; }

.ui-dialog p.question { text-align: center; }

.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px); }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
/* end clearfix */
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }

.ui-dialog { position: absolute; padding: .2em; width: 300px; overflow: hidden; }
.ui-dialog .ui-dialog-titlebar { padding: .4em 1em; position: relative;  }
.ui-dialog .ui-dialog-title { float: left; margin: .1em 16px .1em 0; } 
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: .3em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; }
.ui-dialog .ui-dialog-content { position: relative; border: 0; padding: .5em 1em; background: none; overflow: auto; zoom: 1; }
.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { float: right; }
.ui-dialog .ui-dialog-buttonpane button { margin: .5em .4em .5em 0; cursor: pointer; }
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }

.ui-dialog {
    background: url("../images/dialog-bg.png") repeat-x scroll 50% top #EEEEEE;
    border: 1px solid #DDDDDD;
    color: #333333;
}
.ui-widget-overlay {
    background: url("../images/overlay.png") repeat scroll 50% 50% #666666;
    opacity: 0.5;
	left: 0;
    position: absolute;
    top: 0;
}
.ui-dialog .ui-dialog-titlebar {
    padding: 0.4em 1em;
    position: relative;
	background-color: #89A3FF;
}
.ui-corner-all {
    border-radius: 4px 4px 4px 4px;
}
.ui-dialog-buttonpane { border-top: solid 1px #aaa; }
.ui-button { background-color: #F6F6F6; }

.ui-icon { height: 16px; width: 16px; background-image: url(../images/222222_256x240_icons_icons.png); text-indent: -99999px; }
/* positioning ui-icons */
.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-off { background-position: -96px -144px; }
.ui-icon-radio-on { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-start { background-position: -80px -160px; }
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }
